<h1>To Do List</h1>
<form action="/items" method="post">
  <label for="new-title">Enter in job title:</label><br>
  <input id="new-title" name="new-title" type="text"><br>
  <label for="new-desc">Enter in job Description:</label><br>
  <input id="new-desc" name="new-desc" type="text"><br>
  <label for="new-contact">Enter in job Contact:</label><br>
  <input id="new-contact" name="new-contact" type="text"><br>
  <button type="submit">Submit</button>
</form>
